# ===== Java / Spring Boot =====
target/
bin/
*.class
*.log
logs/

# ===== Maven =====
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ===== IntelliJ =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== Node / Frontend =====
node_modules/
dist/
build/
coverage/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# ===== Security =====
*.key
*.pem

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini
